AWS_ACCESS_KEY_ID = "xxx"           # AWS access key for authentication
AWS_SECRET_ACCESS_KEY = "xxx"       # AWS secret key for authentication
aws_region = "xxx"                  # AWS region where resources will be created
application_name = "xxx"            # Name of the Elastic Beanstalk application
application_description = "xxxx"    # Description of the Elastic Beanstalk application
environment_name = "xxxx"           # Name of the Elastic Beanstalk environment


#Instance Settings
instance_type = "xxx"               # EC2 instance type for the Elastic Beanstalk environment

artifact_bucket_name = "xxx"        # Name of the S3 bucket to store CodePipeline artifacts
pipeline_name = "xxx"               # Name of the CodePipeline
bitbucket_repo = "xxx/xxx"          # Bitbucket repository details (format: username/repo-name)
bitbucket_branch = "xxx"            # Branch name in the Bitbucket repository to deploy from


# Existing IAM roles
eb_instance_profile = "xxx"         # ARN of the IAM instance profile for Elastic Beanstalk EC2 instances & Ensure this profile has the necessary permissions for your application to function
eb_service_role = "xxxx"            # ARN of the IAM service role for Elastic Beanstalk & This role should have permissions to manage resources on behalf of Elastic Beanstalk
codepipeline_role_arn = "xxxx"      # ARN of the IAM role for CodePipeline & Ensure this role has permissions to access all resources needed in your pipeline

bitbucket_connection_arn = "xxxx"   # ARN of the CodeStar connection to Bitbucket
# Set up this connection in the AWS Console if you haven't already

# API Environment Variables
api_environment_variables = { 
    
}